@charset "ISO-8859-1";
.book-section {
	width: 90%;
	margin: 20px auto;
}
.book-section .container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.container {
    width: 40%;
}

.container .card {
    display: flex;
    background-color: #fff;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.3);
}


.container .card .img-box {
    background-color: #fff;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.3);
    transform: translateX(-30%);   
}
.container .card .img-box img {
    height: 320px;
}
.card .card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-right .card-head {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card-right .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-right .card-footer .button {
    all: unset;
    background-color: blue;
    padding: 8px 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}