<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="5.0">
	<servlet>
		<description></description>
		<display-name>BookController</display-name>
		<servlet-name>BookController</servlet-name>
		<servlet-class>com.bookshop.controller.BookController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookController</servlet-name>
		<url-pattern>/BookController</url-pattern>
	</servlet-mapping>
	<display-name>bookshop</display-name>
	<welcome-file-list>
		<welcome-file>loginsignup/login.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<location>/general-error.html</location>
	</error-page>
	<servlet>
		<description></description>
		<display-name>AddBookController</display-name>
		<servlet-name>AddBookController</servlet-name>
		<servlet-class>com.bookshop.controller.bookcontroller.AddBookController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddBookController</servlet-name>
		<url-pattern>/AddBookController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetAllBookController</display-name>
		<servlet-name>GetAllBookController</servlet-name>
		<servlet-class>com.bookshop.controller.bookcontroller.GetAllBookController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllBookController</servlet-name>
		<url-pattern>/GetAllBookController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateBookController</display-name>
		<servlet-name>UpdateBookController</servlet-name>
		<servlet-class>com.bookshop.controller.bookcontroller.UpdateBookController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateBookController</servlet-name>
		<url-pattern>/UpdateBookController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SubmitController</display-name>
		<servlet-name>SubmitController</servlet-name>
		<servlet-class>com.bookshop.controller.bookcontroller.SubmitBookController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubmitController</servlet-name>
		<url-pattern>/SubmitController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteBookController</display-name>
		<servlet-name>DeleteBookController</servlet-name>
		<servlet-class>com.bookshop.controller.bookcontroller.DeleteBookController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteBookController</servlet-name>
		<url-pattern>/DeleteBookController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.bookshop.controller.usercontroller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SignupController</display-name>
		<servlet-name>SignupController</servlet-name>
		<servlet-class>com.bookshop.controller.usercontroller.SignupController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignupController</servlet-name>
		<url-pattern>/SignupController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>com.bookshop.controller.usercontroller.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/LogoutController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddCartController</display-name>
		<servlet-name>AddCartController</servlet-name>
		<servlet-class>com.bookshop.controller.cartcontroller.AddCartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCartController</servlet-name>
		<url-pattern>/AddCartController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetCartController</display-name>
		<servlet-name>GetCartController</servlet-name>
		<servlet-class>com.bookshop.controller.cartcontroller.GetCartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetCartController</servlet-name>
		<url-pattern>/GetCartController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RemoveCartController</display-name>
		<servlet-name>RemoveCartController</servlet-name>
		<servlet-class>com.bookshop.controller.cartcontroller.RemoveCartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveCartController</servlet-name>
		<url-pattern>/RemoveCartController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddOrderController</display-name>
		<servlet-name>AddOrderController</servlet-name>
		<servlet-class>com.bookshop.controller.ordercontroller.AddOrderController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddOrderController</servlet-name>
		<url-pattern>/AddOrderController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetOrderController</display-name>
		<servlet-name>GetOrderController</servlet-name>
		<servlet-class>com.bookshop.controller.ordercontroller.GetOrderController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetOrderController</servlet-name>
		<url-pattern>/GetOrderController</url-pattern>
	</servlet-mapping>

</web-app>